<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>jsTree test</title>
  <!-- 2 load the theme CSS file -->
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/themes/default/style.min.css') }}" />
</head>
<body>
  <!-- 3 setup a container element -->
    <!-- <button type="button" class="btn btn-success btn-sm" onclick="demo_create();"><i class="glyphicon glyphicon-asterisk"></i>ノード作成</button>
    <button type="button" class="btn btn-warning btn-sm" onclick="demo_rename();"><i class="glyphicon glyphicon-pencil"></i>名称変更</button>
    <button type="button" class="btn btn-danger btn-sm" onclick="demo_delete();"><i class="glyphicon glyphicon-remove"></i>ノード削除</button> -->
    <button type="button" onclick="get_json();">json作成</button>
    <div id="jstree" ></div>

  <!-- 4 include the jQuery library -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- 5 include the minified jstree source -->
  <script src="{{ url_for('static', filename='dist/jstree.min.js') }}"></script>
  <script>
    function demo_create() {
        var ref = $('#jstree').jstree(true),
            sel = ref.get_selected();
        if(!sel.length) { return false; }
        sel = sel[0];
        sel = ref.create_node(sel, {"type":"file"});
        if(sel) {
            ref.edit(sel);
        }
    };
    function demo_rename() {
        var ref = $('#jstree').jstree(true),
            sel = ref.get_selected();
        if(!sel.length) { return false; }
        sel = sel[0];
        ref.edit(sel);
    };
    function demo_delete() {
        var ref = $('#jstree').jstree(true),
            sel = ref.get_selected();
        if(!sel.length) { return false; }
        ref.delete_node(sel);
    };
    function get_json(){
        var ref = $('#jstree').jstree(true),
            sel = ref.get_json('#', { 'flat': true });
        if(!sel.length) { return false; }
        $.ajax(
            {
                url:'/post/create_node_and_relationship',
                type:'POST',
                data: JSON.stringify(sel, null, " "),
                dataType: 'json',
                contentType: 'application/json'
            })
            .done(function(data, textStatus, jqXHR ){
                    console.log("done");
                    console.log(data);
                })
            .fail(function(jqXHR, textStatus, errorThrown){
                    console.log("failed");
                });;
    };
  $(function () {
    // 6 create an instance when the DOM is ready
    $('#jstree').jstree({
        "core" : {
            "animation" : 0,
            "check_callback" : true,
            'force_text' : true,
            'data': { "id" : "p", "parent" : "#", "text" : "初期ノード" }
        },
        "types" : {
                    "#" : { "max_children" : 1, "max_depth" : 5, "valid_children" : ["root"] },
                    "root" : { "valid_children" : ["default"] },
                    "default" : { "valid_children" : ["default","file"] },
                    "file" : { "valid_children" : [] }
                },
        "plugins" : ["search", "state", "types", "wholerow", "contextmenu", "dnd"]
    });
    // 7 bind to events triggered on the tree
    // $('#jstree').on("changed.jstree", function (e, data) {
    //   console.log(data.selected);
    // });
    // 8 interact with the tree - either way is OK
    // $('button').on('click', function () {
    //     alert("button on!");
    // });
  });
  </script>
</body>
</html>