<!doctype html>

<html>

<head>
    <title>cytoscape</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.19/cytoscape.js"></script>
</head>

<style>
    #cy {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }
</style>

<body>
    <div id="cy"></div>
    <script>
      var data_json;
      let parent;
      let children;
      let relationship;
      $.ajax({
        url: '/get/all_graphs',
        type: 'GET',
        dataType: 'json',
        async: false,
      })
      .done(function (data) {
        const data_stringify = JSON.stringify(data);
        data_json = JSON.parse(data_stringify);
        parent = data_json['parent'];
        children = data_json['children'];
        relationship = data_json['relationship'];
      })
      .fail(function (data) {
        console.log('error');
      });
      let elements_list = [];
      $.each(parent,function(index,p){
        elements_list.push({data: {id: 'p'+index, ele: p}});
      });
      $.each(children,function(index,c){
        elements_list.push({data: {id: 'c'+index, ele: c}});
      });
      var cy = cytoscape({
        container: document.getElementById('cy'),
        elements: elements_list
      });
    cy.on('click', 'node', function(evt){
      alert(this.data('ele')+"です");
      console.log( 'clicked ' + this.id() + ' ' + this.data('ele'));
    });
    cy.on('tap', 'edge', function(evt){
      console.log( 'clicked ' + this.id() );
      this.remove();
    });
    </script>
</body>
</html>