<!DOCTYPE>

<html>

  <head>
    <title>コンセプトマップ作成画面</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

    <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- for testing with local version of cytoscape.js -->
    <!--<script src="../cytoscape.js/build/cytoscape.js"></script>-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.js"></script>
    <script src="{{ url_for('static', filename='dist/edge.js') }}"></script>

    <!-- for popper handles -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
	  <script src="https://unpkg.com/cytoscape-popper@2.0.0/cytoscape-popper.js"></script>

    <style>
      body {
        font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
        font-size: 14px;
      }

      #cy {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 999;
        width: 50%;
        height: auto;
      }

      #cy2 {
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 999;
        width: 50%;
        height: auto;
        /* background-color: black; */
      }

      h1 {
        opacity: 0.5;
        font-size: 1em;
        font-weight: bold;
      }

      #buttons {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 99999;
        margin: 1em;
      }

      .popper-handle {
        width: 20px;
        height: 20px;
        background: red;
        border-radius: 20px;
        z-index: 9999;
      }
    </style>

    <script>
      
      var data_json;
      let parent = [];
      let children = [];
      let relationship = [];
      let score;
      let subject;
      let username = "{{username}}";
      let url = '/get/score/'+ username;
      let score_subject = {};
      $.ajax({
          url: url,
          type: 'GET',
          dataType: 'json',
          async: false,
      })
      .done(function (data) {
          const data_stringify = JSON.stringify(data);
          data_json = JSON.parse(data_stringify);
          score = data_json['score'];
          subject = data_json['subject'];
          $.each(subject,function(index, s){
            score_subject[s] = score[index];
          });
      })
      .fail(function (data) {
          console.log('error');
      });

      for (let index = 0; index < subject.length; index++) {
        $.ajax({
          url: '/get/subject/'+subject[index],
          type: 'GET',
          dataType: 'json',
          async: false,
        })
        .done(function (data) {
            const data_stringify = JSON.stringify(data);
            data_json = JSON.parse(data_stringify);
            $.each(data_json['parent'],function (index,p) {
              parent.push(p);
            });
            $.each(data_json['children'],function (index,c) {
              children.push(c);
            });
            $.each(data_json['relationship'],function (index,r) {
              relationship.push(r);
            });
        })
        .fail(function (data) {
            console.log('error');
        });
        
      }
      parent = parent.filter(Boolean);
      children = children.filter(Boolean);
      relationship = relationship.filter(Boolean);
      let elements_node_list = [];
      let elements_edge_list = [];
      let elements = [];

      $.each(relationship,function(index,r){
          elements_node_list.push({data: {id: 'p'+ parent[index], ele: '親: '+ parent[index]}});
          elements_node_list.push({data: {id: 'c' + children[index], ele: '子: ' + children[index]}});
          elements_edge_list.push({data: {id: 'r'+index, source: 'p'+ parent[index], target: 'c' + children[index], relationship: r}});
          elements.push({data: {id: 'p'+ parent[index], ele: '親: '+ parent[index]}});
          elements.push({data: {id: 'c' + children[index], ele: '子: ' + children[index]}});
          elements.push({data: {id: 'r'+index, source: 'p'+ parent[index], target: 'c' + children[index], relationship: r}});
      });
      
      document.addEventListener('DOMContentLoaded', function(){

        var cy = window.cy = cytoscape({
          container: document.getElementById('cy'),

          layout: {
            name: 'grid',
            rows: 8,
            cols: 8
          },

          style: [
            {
              selector: 'node[name]',
              style: {
                'content': 'data(name)'
              }
            },

            {
              selector: 'edge',
              style: {
                'curve-style': 'bezier',
                'target-arrow-shape': 'triangle'
              }
            },

            // some style for the extension

            {
              selector: '.eh-handle',
              style: {
                'background-color': 'red',
                'width': 12,
                'height': 12,
                'shape': 'ellipse',
                'overlay-opacity': 0,
                'border-width': 12, // makes the handle easier to hit
                'border-opacity': 0
              }
            },

            {
              selector: '.eh-hover',
              style: {
                'background-color': 'red'
              }
            },

            {
              selector: '.eh-source',
              style: {
                'border-width': 2,
                'border-color': 'red'
              }
            },

            {
              selector: '.eh-target',
              style: {
                'border-width': 2,
                'border-color': 'red'
              }
            },

            {
              selector: '.eh-preview, .eh-ghost-edge',
              style: {
                'background-color': 'red',
                'line-color': 'red',
                'target-arrow-color': 'red',
                'source-arrow-color': 'red'
              }
            },

            {
              selector: '.eh-ghost-edge.eh-preview-active',
              style: {
                'opacity': 0
              }
            }
          ],

          elements: elements_node_list
        });
        cy.on('dbltap', 'node', function(evt){
          alert(this.data('ele'));
          console.log( 'clicked ' + this.id() + ' ' + this.data('ele'));
        });
        let count = 0;
        cy.on('taphold', 'node', function(evt){
          switch (count) {
            case 0:
              this.style('background-color', 'green');
              count++;
              break;
            case 1:
              this.style('background-color', 'gold');
              count++;
            break;
            case 2:
              this.style('background-color', 'orange');
              count++;
            break;
            case 3:
              this.style('background-color', 'red');
              count=0;
            break;
            default:
              break;
          }
        });
        cy.on('tap', 'edge', function(evt){
            console.log( 'clicked ' + this.id() );
            this.remove();
        });

        var eh = cy.edgehandles();

        var popperEnabled = false;

        document.querySelector('#popper').addEventListener('click', function() {
          if (popperEnabled) { return; }

          popperEnabled = true;

          // example code for making your own handles -- customise events and presentation where fitting
          // var popper;
          var popperNode;
          var popper;
          var popperDiv;
          var started = false;
          
          function start() {
            eh.start(popperNode);
          }

          function stop() {
            eh.stop();
          }

          function setHandleOn(node) {
            if (started) { return; }

            removeHandle(); // rm old handle

            popperNode = node;

            popperDiv = document.createElement('div');
            popperDiv.classList.add('popper-handle');
            popperDiv.addEventListener('mousedown', start);
            document.body.appendChild(popperDiv);

            popper = node.popper({
              content: popperDiv,
              popper: {
                placement: 'top',
                modifiers: [
                  {
                    name: 'offset',
                    options: {
                      offset: [0, -10],
                    },
                  },
                ]
              }
            });
          }
        

          function removeHandle() {
            if (popper){
              popper.destroy();
              popper = null;
            }

            if (popperDiv) {
              document.body.removeChild(popperDiv);
              popperDiv = null;
            }

            popperNode = null;
          }

          cy.on('mouseover', 'node', function(e) {
            setHandleOn(e.target);
          });

          cy.on('grab', 'node', function(){
            removeHandle();
          });

          cy.on('tap', function(e){
            if (e.target === cy) {
              removeHandle();
            }
          });

          cy.on('zoom pan', function(){
            removeHandle();
          });

          window.addEventListener('mouseup', function(e){
            stop();
          });

          cy.on('ehstart', function(){
            started = true;
          });

          cy.on('ehstop', function(){
            started = false;
          });

        });

      });
    </script>
  </head>

  <body>
    <h1>コンセプトマップ作成画面</h1>
    <script>
      document.write("<h1>edgeの数: " + relationship.length + "</h1>")
    </script>
    <div class="wrapper">
      <section class="main">
        <div id="cy"></div>
      </section>
      <section class="side">
        <div id="cy2" hidden></div>
      </section>
  </div>
    <div id="buttons">
      <!-- <button id="start">Start on selected</button>
      <button id="draw-on">Draw mode on</button>
      <button id="draw-off">Draw mode off</button> -->
      <button id="popper">線を引く</button>
      <button id="answer">マップの答えを見る</button>
      <button id="answer_r">理解度の答えを見る</button>
    </div>

    <script src="{{ url_for('static', filename='dist/cy2.js') }}"></script>
  </body>

</html>