<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
   <title>test_flask</title>
</head>
<body>
    <form action='/'>
        <p>ノード2つの名前とその関係性1つを入力してください</p>
        node1: <input type="text" name="node1">
        node2: <input type="text" name="node2">
        relationship: <input type="text" name="relationship">
        <button type="submit" formmethod="POST">送信</button>
    </form>
    <form action='/get/score'>
        <p>名前を記入してコンセプトマップを作成しよう</p>
        名前: <input type="text" name="username">
        <button type="submit" formmethod="POST">送信</button>
    </form>
    <a href="/delete/all">ノード全削除</a>
    <a href="/get/all_graphs">ノード全返却</a>
    <a href="/create/json">json作成</a>
    <a href="/create/score">score登録</a>
    
</body>
</html>